// The global stylesheet
// You can dynamically import stylesheets in different typescript modules to load them when needed.

// This module resets vendor-specific defaults and makes CSS behavior more consistent:
@import "~normalize.css/normalize.css"

// TODO: Your styles go here! You can remove most of these rules:
html, body
  height: 100%

body
  font-family: Roboto, 'Segoe UI', 'Noto Sans', -apple-system, sans-serif
  background: linear-gradient(darkorange, mediumvioletred)
  display: flex
  align-items: center
  justify-content: center
  color: white
  font-size: calc(5vw + 20px)
